* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {

/* colours */

--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);

--para: 14px;

--montserrat-font-family: "Montserrat", sans-serif;
--fraunces-font-family: "Fraunces, sans-serif";
}

body {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    font-family: var(--montserrat-font-family);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cream);
}

.p-img {
    width: 350px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.main-container{
    display: flex;
    height: auto;
    width: 700px;
    background-color: var(--white);
    border-radius: 1rem;
}

.card {
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    display: block;
    justify-content: left;
}

.card .category {
    letter-spacing: .5rem;
    padding-bottom: 20px;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-size: var(--para);
}

.card .product-title {
    font-family: var(--fraunces-font-family);
    font-size: 48px;
    line-height: 2.8rem;
    padding-bottom: 20px;
}

.card p {
    color: var(--dark-grayish-blue);
    font-size: 18px;
    line-height: 1.8rem;
}

.rrp {  
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.rrp .price-new{
    color: var(--dark-cyan);
    font-size: 36px;
    font-weight: 700;
    padding-right: 20px;
}

.rrp .price-old{
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.atc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-cyan);
    border-radius: .5rem;
    height: 50px;
    width: calc(100% - 2.5rem);
    font-weight: 700;
    margin-top: 30px;
}

.atc img {
    padding-right: 10px;
}
.atc p {
    color: var(--white);
}

.atc:hover {
    background-color: var(--very-dark-blue);
    cursor: pointer;
}

.attribution {
    position: absolute;
    bottom: 0;
}

/* SCREEN MEDIA */

@media screen and (max-width: 450px) {
    
    body {
        max-width: 450px;
    }

    .main-container{
        display: block;
        width: 90%;
        height: 95%;
    }
    .p-img {
        content: url("/images/image-product-mobile.jpg");
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }
    
    .card {
        padding-top: 2rem;
        padding-left: 2rem;
    }
    
    .card .category {
        letter-spacing: .2rem;
    }
    
    .card .product-title {
        font-size: 40px;
        line-height: 2rem;
    }
    
    .card p {
        font-size: 16px;
        line-height: 1.8rem;
        padding-right: 1rem;
    }
    
    .atc {
        width: calc(100% - 2rem);
    }   
}